.heading {
    //background-color: white;
    width: 100vw;
    height: 25rem;
    position: relative;
    display: flex;
    align-items: center;
}
.textAnimate {
    //background-color: black;
    //color: white;
    // position: absolute;
    // right: 20%;
    font-size: 7em;
    padding-left: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}