@import "../App.scss";
.project-container {
  overflow: hidden;
}
.projects-layout-container {
  width: 100vw;
  height: 100vh;
  //background-color: rgb(73, 73, 72);
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
}
.projects-layout {
  width: 80vw;
  height: 80vh;
  //background-color: blanchedalmond;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  padding-bottom: 18px;
  padding-right: 18px;
  padding-left: 10px;
  overflow: hidden;
}
.project-initial {
  width: 100%;
  height: 100%;
  //background-color: blue;
  margin: auto;
  transition: 0.5s;
  box-shadow: 7px 7px 10px 0px black;
  //margin-bottom: 10px;
  position: relative;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 12;
  overflow: hidden;
}
.project-initial:hover{
  box-shadow: none;
  z-index: 500;
  cursor: url(../Media/cursor2.png), auto;
  opacity: 1;
}
.project-initial:hover p{
  opacity: 1;
}
.project-initial p{
  //color: whitesmoke;
  font-size: 3.5em;
  color: whitesmoke;
  padding-left: 30px;
  transition: 0.5;
  opacity: 0;
 // position: absolute;
  //padding-left: 5px;
  //transition: all 0.5s;
  overflow: hidden;
}
.project-initial:nth-child(1) p{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.project-initial:nth-child(3) p{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
.project-initial:nth-child(5) p
{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}

//JS Projects
//*****************************************************************************//
//////////////////////////BACK BTN SVG
// .svg-icon {
//   width: 1em;
//   height: 6em;
//   background-color: #ffffff;
// }

// .svg-icon path,
// .svg-icon polygon,
// .svg-icon rect {
//   fill: #000000;
// }

// .svg-icon circle {
//   stroke: #ffffff;
//   stroke-width: 5;
// }
//////////////////////////BACK BTN SVG END
.projects-wrapper{
  width: 100vw;
  height: 100vh;
 // background-color: whitesmoke;
 //filter: blur(5px);
 // opacity: 1;
  position: fixed;
  top: 0%;
  z-index: 10;
  left: 0;
  visibility: visible;
  overflow: hidden;
}
.projects-wrapper-hide{
visibility: hidden;
z-index: -10;
overflow: hidden;
}
.projects-wrapper::after{
  content: " ";
  background-color: rgb(42, 42, 44,0.75);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
  z-index: -5;
  overflow: hidden;
}
//{count === 0 ? "to-do-wrapper-hide": "to-do-wrapper"}
.back-btn{
  position: absolute;
  stroke-width: 25px;
  top: 8%;
  left: 12%;
  cursor: pointer;
}
////////////////////////////////////////////////TO DO APP START////////////////////
.Contanier-jsProjects {
  width: 70vw;
  height: 100%;
  margin: auto;
  background-color: rgb(70, 69, 69);
  text-align: center;
  overflow: hidden;
}
.Contanier-jsProjects h6{
  color: whitesmoke;
  font-size: 2em;
  margin-top: 1rem;
}
.Contanier-jsProjects .input{
  margin-top: 5rem;
  width: 60%;
  height: 3rem;
  box-shadow: -7px -7px 7px black;
  border: none;
  outline: none;
  font-size: 1.3em;
  padding: 8px;
  //background-color: transparent;
}
.Contanier-jsProjects .button{
  height: 3rem;
  width: 5rem;
  margin-left: 15px;
  box-shadow: -7px -7px 7px black;
  font-size: 1em;
}
.Contanier-jsProjects .unorderList {
  //background-color: yellow;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
}
.Contanier-jsProjects .unorderList li{
  width: 100%;
  height: 2rem;
  background-color: rgb(51, 50, 50);
  //border-bottom: 2px solid whitesmoke;
  //padding: 10px;
  color: whitesmoke;
  text-decoration: none;
  text-align: left;
  overflow: hidden;
  font-size: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.btn-del {
  width: 2rem;
  height: 2rem;
  background-color: rgb(211, 0, 0);
  outline: none;
  border: none;
}
.btn-del::after{
  content: "Del";
  color: whitesmoke;
  font-weight: 800;
}
////////////////////////////////////////////////TO DO APP END////////////////////
////////////////////////////////////////////////Vowel Counter Start////////////////////
#input{
  margin-top: 5rem;
  width: 60%;
  height: 3rem;
  font-size: 0.8em;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  outline: none;
}
#button{
  height: 3rem;
  font-size: 1em;
}
#output{
  color: $color-two;
  font-size: 1.2em;
  margin-top: 5rem;
}
////////////////////////////////////////////////Vowel Counter End////////////////////
////////////////////////////////////////////////Memory Game Start////////////////////
.game-Wrapper {
  width: 80%;
  height: 60%;
  margin: auto;
  //background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  padding: 20px;
}
.image {
  width: 150px;
  height: 150px;
}
.img-overlay-container {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background-color: $color-one;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 500;
  opacity: 1;
  transition: 1s ease;
}
////////////////////////////////////////////////Memory Game End////////////////////
////////////////////////////////////////////////Note Taker App Start////////////////////
.note {
  color: $color-two;
  font-size: 1.5em;
  padding-right: 15px;
}
#input-note-taker {
  margin-top: 5rem;
  width: 60%;
  height: 2.5rem;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-size: 1em;
}
#button-note-taker{
  height: 3.5rem;
  width: 100px;
  outline: none;
  border: 2px solid rgb(114, 114, 114);
  cursor: pointer;
}
.displayNotes {
  //background-color: #ffffff;
  width: 70%;
  margin: auto;
  text-align: left;
  margin-top: 35px;
  line-height: 2rem;
  color: $color-two;
}
////////////////////////////////////////////////Note Taker App End////////////////////
////////////////////////////////////////////////Form Verficitaion////////////////////
#form{
  background-color: #ffffff;
  width: 40%;
  height: 30rem;
  margin: auto;
  margin-top: 5rem;
  text-align: left;
  padding: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
}
#form input{
  width: 100%;
  line-height: 2rem;
  color: black;
}
#submit{
  line-height: 2rem;
  font-size: 1em;
  cursor: pointer;
}
////////////////////////////////////////////////Form Verficitaion End////////////////////
////////////////////////////////////////////////Expense Tracker////////////////////
.expense-form{
  background-color: rgb(184, 181, 181);
  width: 50%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15px;
}
.expense-form label{
  margin-top: 15px;
}
.expense-form input{
  width: 100%;
  line-height: 2rem;
}
#button-expense{
  width: 100px;
  line-height: 2rem;
  font-size: 1em;
}
#myTable {
  background-color: whitesmoke;
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
#myTable tr{
  border: 1px solid black;
  line-height: 1.5rem;
  background-color: rgb(145, 145, 145);
}
////////////////////////////////////////////////Expense Tracker End////////////////////


@media (max-width: 768px){
  .projects-layout-container {
    margin-top: 0rem;
  }
  .projects-layout {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 18px;
    padding-right: 18px;
    padding-left: 10px;
    overflow: hidden;
  }
  .project-initial {
    width: 100%;
    height: 65%;
    padding-left: 15px;
  }
  .project-initial p{
    font-size: 1.2em;
    color: whitesmoke;
    padding-left: 0px;
    opacity: 1;
  }
}