@import "../App.scss";
.Work {
  width: 80%;
  margin: auto;
  height: auto;
  //background-color: wheat;
}
.mywork-heading {
  font-size: 3em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  position: absolute;
  top: 0%;
  right: 0%;
  padding-left: 8px;
}
#wrihanshi-foundation {
  margin-top: 8rem;
}
.mywork-heading span {
  background-color: $color-one;
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke-width: 0px;
}
.mywork-wrapper {
  width: 100%;
  height: auto;
  //background-color: rgb(95, 92, 92);
  margin: auto;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  position: relative;
  //border: 1px solid wheat;
}
.mywork-wrapper:hover .mywork-heading {
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke-width: 0px;
}
.mywork-wrapper:hover .mywork-heading > span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.card-container {
  width: 65%;
  height: 65vh;
  padding-top: 15px;
  //background-color: brown;
  overflow: hidden;
  position: relative;
}
.left-heading {
  position: absolute;
  top: 0%;
  left: 0;
  font-size: 1.4em;
  color: whitesmoke;
  // -webkit-text-fill-color: transparent;
  // -webkit-text-stroke-width: 0.5px;
  // -webkit-text-stroke-color: rgb(255, 255, 255);
}
.card-outline {
  width: 95%;
  height: 60vh;
  margin: 15px;
  //background-color: brown;
  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: relative;
}
.wrihanshi,
.grocer,
.uchiha {
  width: 100%;
}
.description-container {
  width: 30%;
  height: 50vh;
  //background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  // padding-left: 8px;
  margin-left: 5rem;
  // border-left: 5px solid rgb(255, 255, 255);
  overflow: hidden;
}
.description-container p {
  color: whitesmoke;
  font-family: "roboto", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  padding: 5px;
  overflow: hidden;
}
.description-container p:nth-child(1) {
  text-transform: uppercase;
}
.description-container ul {
  overflow: hidden;
}
.description-container ul li {
  margin-left: 5px;
  margin-top: 5px;
  color: $color-two;
}
.description-container a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.3em;
  font-family: $font-family;
}
.description-container button {
  width: 150px;
  height: 3rem;
  background-color: transparent;
  padding: 5px;
  margin: 15px 0px 0px 5px;
  border-radius: 1px;
  outline: none;
  border: 1px solid rgb(66, 65, 65);
  //box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  transition: 0.5s;
  cursor: pointer;
}
.description-container button:hover {
  box-shadow: 0px -1px 13px 0px rgba(0, 0, 0, 0.75);
  border-color: black;
  //scale: 1;
}
.right-heading {
  position: absolute;
  right: 0;
  top: 0%;
  font-size: 1.4em;
  color: whitesmoke;
}
.CardOutlineTwo {
  box-shadow: -5px 4px 10px 0px rgba(0, 0, 0, 0.75);
}
.DesContainerTwo {
  width: 30%;
  height: 50vh;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.card-image-overlay1,
.card-image-overlay2,
.card-image-overlay3,
.card-image-overlay4 {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  position: absolute;
  z-index: 50000;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  .Work {
    height: 100%;
    //background-color: antiquewhite;

  }
  #wrihanshi-foundation {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10rem;
  }
  .mywork-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #right-card {
    display: flex;
    flex-direction: column-reverse;
  }
  .card-container {
    width: 100%;
    height: 55vh;
  }
  .description-container {
    width: 100%;
    height: 55vh;
    margin-top: 10px;
    margin-bottom: 10px;
    //background-color: burlywood;
     font-size: 15px;
  }
  .DesContainerTwo {
    width: 100%;
    height: 65vh;
    align-items: flex-start;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  #des4 {
    margin-right: 3.2rem;
  }
  .description-container ul {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    font-size: 10px;
  }
  .left-heading {
    font-size: 1em;
    padding-left: 10px;
  }
  .right-heading {
    font-size: 1em;
    padding-right: 10px;
  }
  .mywork-heading {
    right: 5%;
  }
  #card-outline1 {
    background-image: url(../Media/wrihanshi-capture.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  #card-outline2 {
    background-image: url(../Media/smart.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  #card-outline3 {
    background-image: url(../Media/grocer.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
  #card-outline4 {
    background-image: url(../Media/uchiha.png);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
}
