*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
$font-family: 'Open Sans', sans-serif;
$bg-color: rgb(42, 42, 44);
$color-one: #686bfd;
$color-two: #A5DD73;
$btn-border: rgb(66, 65, 65);
body{
  font-family: $font-family;
  background-color: $bg-color;
  overflow-x: hidden;
}
section {
  width: 100vw;
  height: 100vh;
  position: relative;
}
